.container {
  max-width: 1200px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c3e50;
}

.card-text {
  font-size: 1rem;
  text-align: justify;
  color: #555;
}

.card-footer {
  background-color: #f8f9fa;
}

.text-primary {
  color: #484848 !important;
}
.outer-container {
  background-color: #f8f9fa; /* Light background for better visibility */
}
